[package]
name = "rtftp"
version = "0.1.0"
authors = ["Reiner Herrmann <reiner@reiner-h.de>"]
edition = "2018"
license = "GPL-3.0-or-later"

[profile.release]
lto = true
panic = 'abort'

[dependencies]
nix = "0.13.0"
getopts = "0.2.18"
threadpool = "1.7.1"

[[bin]]
name = "rtftpd"
path = "src/tftpd.rs"

[[bin]]
name = "rtftpc"
path = "src/tftpc.rs"
