Source: rtftp
Section: net
Priority: optional
Maintainer: Reiner Herrmann <reiner@reiner-h.de>
Build-Depends: debhelper-compat (= 12),
               cargo,
               rustc,
               librust-getopts-dev (>= 0.2.18),
               librust-nix-dev (>= 0.13.0),
               librust-threadpool-dev (>= 1.7.1)
Standards-Version: 4.4.1
Rules-Requires-Root: no

Package: rtftp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a rusty TFTP client/server
 RustFTP provides a server and a client for the Trivial File Transfer
 Protocol (TFTP).
